<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         default-lazy-init="true">

  <!-- 实体工厂 -->
  <object id="ef_dsp" parent="proxy_mgr_dsp" >
    <property name="Target" ref="ef_dsp_origin"  />
  </object>

  <object id="ef_dsp_origin"
        type="Mao.Infrastructure.Db.Impl.DataSetFactoryMsSql,
        Mao.Infrastructure" >
    <property name="SessionFactory" ref="sf_dsp"  />
    <property name="Dsf" ref="dsf_dsp"  />
  </object>

  <!--数据集工厂-->
  <object id="dsf_dsp" parent="proxy_mgr_dsp" >
    <property name="Target" ref="dsf_dsp_origin"  />
  </object>

  <object id="dsf_dsp_origin"
        type="Mao.Infrastructure.Db.Impl.DataSetFactoryMsSql,
        Mao.Infrastructure" >
    <property name="SessionFactory" ref="sf_dsp"  />
  </object>



  <object id="proxy_mgr_dsp"
          type="Mao.Infrastructure.Db.FocTxProxyFactoryObject, Mao.Infrastructure"
          abstract="true" singleton="true" >
    <property name="PlatformTransactionManager" ref="tx_mgr_dsp"/>
    <property name="TransactionAttributes" ref="tx_propagation_dsp"/>
  </object>

  <object id="tx_mgr_dsp"
      type="Spring.Data.NHibernate.HibernateTransactionManager, 
          Spring.Data.NHibernate4"  >
    <property name="SessionFactory" ref="sf_dsp" />
  </object>

  <object id="tx_propagation_dsp" type="System.Collections.Specialized.NameValueCollection, System">
    <constructor-arg>
      <name-values>
        <add key="*" value="PROPAGATION_REQUIRED"/>
        <add key="get_*" value="PROPAGATION_SUPPORTS"/>
      </name-values>
    </constructor-arg>
  </object>
</objects>