<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!--Spring.Net块配置-->
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects  >
      <!--我们注释掉这一部分-->

      <!--这里的name属性，一般是对应类名，等下获取得时候对应，type中 Spring.Net_Demo.UserDAL 是 UserDAL 的类全名称，Spring.Net_Demo其程序集
    <object name="UserDAL" type="Spring.Net_Demo.UserDAL,Spring.Net_Demo">
          这里通过给Name或ID属性,名字必须一致，我们简单给个值为“我是属性Name哦
                  <property name="Name" value="我是属性Name哦"></property>
    
  </object>  -->

      <!--这里为构造函数注入，两个选择一个就可，不在细说，有注释-->
      <object name="UserDAL" type="SpringDemo4.UserDAL,SpringDemo4">
        <!--构造函数注入 Name不区分大小，对应构造参数名 -->
        <constructor-arg name="name" value="构造函数注入"></constructor-arg>

        <!-- 构造函数注入，需声明构造， 可直接用index=0 -->
        <!-- <constructor-arg index="0" value="构造函数注入"></constructor-arg> -->
      </object>


      <!--这里我们在添加一个节点，属性注入复杂属性 -->
      <object name="UserServer" type="SpringDemo4.UserServer,SpringDemo4">
        <!--这里属性直接指向UserDAL节点，Name属性必须对应 -->
        <property name="UserDAL" ref="UserDAL"></property>
      </object>



    </objects>
  </spring>

</configuration>