<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Spring.Net块配置-->
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects  >

      <!--这里的name属性，一般是对应类名，等下获取的时候对应，type中 SpringDemo.UserDAL 是 UserDAL 的类全名称，SpringDemo其程序集-->
      <object name="UserDAL" type="SpringDemo2.UserDAL,SpringDemo2">
        <property name="Name" value="属性注入"></property>
      </object>


    </objects>
  </spring>
</configuration>

